@font-face {
    font-family: 'Electrolize';
    src: url(../fonts/Electrolize-Regular.ttf);
}
@font-face {
    font-family: 'Homenaje';
    src: url(../fonts/Homenaje-Regular.ttf);
}
@font-face {
    font-family: 'IMFellFrench';
    src: url(../fonts/IMFellFrenchCanon-Regular.ttf);
}
@font-face {
    font-family: 'Imprima';
    src: url(../fonts/Imprima-Regular.ttf);
}